// System Fonts

@font-face {
    font-family: 'Repro-Regular';
    src: local('Repro-Regular'), url(./fonts/Repro-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Repro-Dot-Regular';
    src: local('Repro-Dot-Regular'), url(./fonts/ReproDotOriginal-Regular.woff) format('woff');
}

// Custom Fonts

@font-face {
    font-family:'AFForm-Regular';
    src: local('AFForm-Regular'), url(./fonts/Custom/AFForm-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Form-Bold';
    src: local('Form-Bold'), url(./fonts/Custom/Form-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Germanica-Regular';
    src: local('Germanica-Regular'), url(./fonts/Custom/Germanica-Regular.woff) format('woff');
}
